<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a href="#" class="navbar-brand">Online Store</a>
        @* Card Summery from Component *@
    </div>
    <div class="row">
        <div class="col-xs-3">
           @await Component.InvokeAsync("Category")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
