@model Product

    <div class="well">
        <h3>
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
        </h3>
        <form asp-action="AddToCard" method="post" >
            <input asp-for="Id" type="hidden"/>
            @* path and query ??? *@
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="lead">
                @Model.Description
                <button type="submit" class="btn btn-success btn-sm pull-right" asp-controller="Basket" asp-action="AddToBasket">افزودن به سبد خرید</button>
            </span>
        </form>
    </div>